.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
src/lib/types/*
src/wasm_exec.js

# Ignore files with syntax errors that prevent formatting
src/routes/+page.svelte

# Ignore configuration files from formatting
package.json
Svelte5Package.json
LegacyPackage.json
Svelte5PackageBackup.json
LegacyPackageBackup.json
pnpm-lock.yaml
version.ini
*.config.js
*.config.cjs
*.config.ts
svelte.config.js
tailwind.config.cjs
vite.config.js
tsconfig.json
eslint.config.js
.prettierignore