{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 150,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "printWidth": 200,
        "svelteStrictMode": false,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true,
        "htmlWhitespaceSensitivity": "css",
        "bracketSameLine": false,
        "singleAttributePerLine": false,
        "bracketSpacing": true,
        "proseWrap": "never",
        "svelteSortOrder": "options-scripts-markup-styles",
        "singleQuote": true
      }
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "endOfLine": "lf"
      }
    }
  ]
}
