.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
src/lib/types/*
src/wasm_exec.js

# Ignore files with syntax errors that prevent formatting
src/routes/+page.svelte
src/routes/tree/ModernPage.svelte

# Ignore configuration files from formatting
package.json
Svelte5Package.json
LegacyPackage.json
*.config.js
*.config.cjs
*.config.ts