[submodule "frontend/src/lib/ModernWasm"]
	path = frontend/src/lib/ModernWasm
	url = https://github.com/BlazesRus/ModernWasm.git
[submodule "PowershellSettings"]
	path = PowershellSettings
	url = https://github.com/BlazesRus/PowershellSettings.git
[submodule "packages/vite-plugin-svelte"]
	path = packages/vite-plugin-svelte
	url = https://github.com/sveltejs/vite-plugin-svelte.git
